
    
     <div class="col-md-6 col-md-offset-2" >
       <div class="row">
         <form>
             <h2 class="text-center">Log in</h2>       
             
             <p>
              <mat-form-field appearance="legacy">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="standard">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Hint</mat-hint>
              </mat-form-field>
            </p>
         </form>
         <div class="example-button-row">
          <button mat-raised-button color="primary">Primary</button>

        </div>
      </div>
     </div>
                                 		                            
